{% extends "layout.njk" %}
{% set active_page = "brand-center-design-guide" %}
{% block content %}
<main class="my-4">
  <div class="container">
    <div class="row">
      {% include "components/navigation.njk" %}
      <div class="col-lg-9">
        <h1>Brand Center Design Guide</h1>
        <p>
          We have big background images behind these pages in a slide show.
          The deminitions of these background images are currently set at
          1920 X 972.
          Please keep the subject out of the navigation area of the page on
          both mobile and desktop versions.
        </p>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</main>
{% endblock %}