{% extends "layout.njk" %}
{% set active_page = "javascript" %}
{% block content %}
<main class="my-4">
  <div class="container">
    <div class="row">
      {% include "components/navigation.njk" %}
      <div class="col-lg-9">
        <h1>JS</h1>
        <p>
          We haven't quite made the jump to ES6 but we need to start learning it.
        </p>
        <p>
          Use jQuery for all projects that aren't on Angular.
        </p>
        <p>
          Try and stick with the default bootstrap plugins unless you need
          something new, functionality wise.
          If you do need a new plugin, reach out to other team members for
          approval on that plugin before using it.
        </p>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</main>
{% endblock %}