{% extends "layout.njk" %}
{% set active_page = "tools" %}
{% block content %}
<main class="my-4">
  <div class="container">
    <div class="row">
      {% include "components/navigation.njk" %}
      <div class="col-lg-9">
        <h1>Tools</h1>
        <p>
          When designing for web you must always use Adobe XD.
          It comes with the creative cloud subscription that VSP gives to employees.
        </p>
        <p>
          <a target="_blank" class="btn btn-primary text-white btn-sm" href="https://www.adobe.com/products/xd.html">
            Explorer more <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </p>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</main>
{% endblock %}